<!DOCTYPE HTML>
<html lang="en">
	<head>
		<style>
	
		#map {
		height: 100%;
		}
		html, body {
		height: 100%;
		margin: 0;
		padding: 0;
		}
		</style>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Live Sentiment Heatmap</title>
		<link rel="stylesheet" href="css/index.css">
		

		<script type="text/javascript" src="lib/jquery.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNc0dmlvo53X4djeek5mOLB3Q0ETqCg7w">
		</script>
		<script type="text/javascript" src="lib/angular.min.js"></script>
		<script type="text/javascript" src="lib/angular-animate.min.js"></script>
		<script type="text/javascript" src="lib/socket.io.js"></script>
		<script type="text/javascript" src="controller/app.js"></script>
	</head>
	<body ng-app="app">
		<div class="container" ng-controller="MapController">
				<div class="col-md-6 col-sm-12 col-xs-12 text-left pull-left pull-right">
							<div class="input-group"> 
								<input class="form-control" type="text" placeholder="keyword" ng-model="keyword"/>
								<span class="input-group-btn">
									<button class="btn btn-info btn-outline" type="submit" ng-click="RestartBtnClick()">Restart</button>
									<button class="btn btn-info btn-outline" type="submit" ng-click="StopBtnClick()">{{stopBtnValue}}</button>
								</span>
							</div>
				</div>
				<div class="col-md-8">
					<div class="row text-center" id="map-container">
						<div id="map-canvas"></div>
					</div>
					
				</div>
    </div>
	</body>
</html>