<!DOCTYPE html>
<html>
<title>MoodTrack</title>
<!-- JavaScript Modules and Google Maps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNc0dmlvo53X4djeek5mOLB3Q0ETqCg7w"></script>
<link rel="stylesheet" href="map.css">
<link rel='shortcut icon' href='/images/Twitter_logo_blue_small.jpg' />
<script type="text/javascript" src="lib/jquery.min.js"></script> 										

<script type="text/javascript" src="lib/angular.min.js"></script>
<script type="text/javascript" src="lib/angular-animate.min.js"></script>
<script type="text/javascript" src="lib/socket.io.js"></script>
<script type="text/javascript" src="control.js"></script>
<style>


body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body ng-app="app">
<!-- Διεπαφή με τα module της JavaScript -->
<div class="container" ng-controller="MapController">
<!-- Μπάρα με κουμπιά όπως MAP ή INFO και κουτί αναζήτησης για συγκεκριμένες λέξεις -->
<div class="w3-top">
<ul class="w3-navbar w3-black w3-card-2 w3-left-align">
<li><a href="#" class="w3-hover-none w3-hover-text-grey w3-padding-large">MAP</a></li>
<li class="w3-hide-small"><a href="#band" class="w3-padding-large">INFO</a></li>
  
<div class="input-group w3-right"> 
<input class="form-control" type="text" placeholder="searchkey" ng-model="searchkey"/>
<span class="input-group-btn">
<!-- Κώδικας για την λειτουργία των δυο κουμπιών Search και Stop -->
	<button class="btn btn-info btn-outline" type="submit" ng-click="RestartBtnClick()">Search</button>
	<button class="btn btn-info btn-outline" type="submit" ng-click="StopBtnClick()">{{buttonFinish}}</button>
</span>
</div>
</ul>
</div>

<div class="w3-content" style="max-width:2000px; margin-top:46px">

	<!-- Google Maps -->
<div id="map-container"></div>
	<div id="map-canvas"></div>
</div>
</div>

  <!-- Πληροφορίες σχετικά με την εφαρμογή -->
  <div class="w3-black" id="tour">
  <div class="w3-container w3-content w3-center w3-padding-64" style="width:600px" id="band">
    <h1 class="w3-wide">MoodTrack</h1>
    <h6 class="w3-justify">Twitter has been used as real time source for applications.Every day,on average,around 500 millions tweets are tweeted. This amount of data, lead me to the idea of creating a real time application that displays some of the tweets on google map using a sentiment tool(module).MoodTrack displays tweets,using emoticons(positive,neutral,negative) which depends from tweet's content.</h6>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <img src="/images/SearchClip.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:30%">
		<p class="w3-justify">The system filters the Tweets from the Twitter App Stream. Moreover, only geolocated tweets and tweets that their geolocation is extracted from the user’s profile location are being displayed.</p>
      </div>
      <div class="w3-third">
        <img src="/images/ToolClip.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:30%">
      </div>
      <div class="w3-third">
        <img src="/images/EyeTool.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:30%">
		<p class="w3-justify">New tweets are pinned in a worldwide map,with geolocation info,which are extracted from the user's profile. Visuals are displayed on a styled Google map,and if you want you can see the content of the tweet.</p>
      </div>
    </div>
  </div>
  </div>


<!-- Μπάρα με link για το GitHub -->
<footer class="w3-container w3-padding-60 w3-center w3-opacity w3-light-grey w3-large">
  <a href="https://github.com/PantelisIoannou/Thesis" target="_blank" ><i class="fa fa-github w3-hover-text-indigo"></i></a>
   <p>&copy; MoodTrack. All rights reserved.</p>
</footer>
</body>
</html>

